/*feedback css*/
#feedback {position: fixed; top: 30%; left: -40em; width: 45em; z-index: 1000}
#feedback .inner {margin-right: 5em; position: relative; padding: 4em 2em 2em 7em; background: url(../img/dark_bg.png) repeat; border: 1px solid #ff9400;
}
#feedback .dark_bg { background: url(../img/dark_bg.png) repeat; }
#feedback .shadow {-moz-box-shadow: 0px 0px 10px #333;-webkit-box-shadow: 0px 0px 10px #333;box-shadow: 0px 0px 10px #333;}
#feedback #feedback_btn { position: absolute; top: 2em; right: -4.7em; display: block; width: 5em; height: 20em;  border: 1px solid #ff9400; z-index: 1001}
#feedback #feedback_btn a { display: block; width: 6em; margin-left: -1em; height: 20em;  background: url(../img/dark_bg.png) repeat;  }
#feedback #feedback_btn a span {background: transparent url(../img/feedback.png) center center no-repeat; display: block; text-indent: -9999px; width: 5em; margin-left: 1.3em; height: 20em; }
#feedback .close {display: block; background: #333; color: #fff; position: absolute; top: 1em; right: 1em; padding: 0.2em 0.5em; font-size: 1.2em; z-index: 1002}
#feedback .close span { background: #900; color: #fff; padding: 0.2em 0.5em;}
#feedback #ajaxLoadAni {display: none; position: absolute; top: 1.5em; left: 7em; color: #ccc; padding: 0.5em; width: 30em; background: #393939;  }
#feedback #ajaxLoadAni img {float: left;  }
#feedback #ajaxLoadAni span {font-size: 1.4em; margin-left: 1em; text-transform: uppercase; line-height: 1.8em;  }
#feedback label {color: #fff;}
#feedback #feedback_msg {}
#feedback .appMsg {position: absolute; top: 1.5em; left: 6em; width: 23.5em; }

