/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


.wrapper {
     margin: 0 auto;
     max-width: 1140px;
}
.row {
padding: 0 3.04%;
max-width: 1140px;
margin: 0 auto;
overflow: hidden;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
margin-right: 3.04%;
float: left;
min-height: 1px;
}

.row .col1 {
width: 5.04%;
}

.row .col2 {
width: 13.12%;
}

.row .col3 {
width: 21.2%;
}

.row .col4 {
width: 29.28%;
}

.row .col5 {
width: 37.36%;
}

.row .col6 {
width: 45.44%;
}

.row .col7 {
width: 53.52%;
}

.row .col8 {
width: 61.6%;
}

.row .col9 {
width: 69.68%;
}

.row .col10 {
width: 77.76%;
}

.row .col11 {
width: 85.84%;
}

.row .col12 {
width: 93.92%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}

.row .push_onecol {
margin-left: 8.08% !important;
}
.row .pull_onecol {
margin-right: 8.08% !important;
}

.row .gridMarginLeft {
margin-left: 3.04%;
}

.row .gridMarginRight {
margin-right: 3.04%;
}

