/*

dark blue   #1D7389

-----------------------------------------------------------------------------*/
.left {float: left;}
.right {float: right;}

.hbg {background-color: #33C6FF;}
.sbg {background-color: #662847;}
.mbg {background-color: #ef0000;}
.tbg {background-color: #FF9400;}



.mbg a {color: #fff;}

.cWhite {color: #fff;}
.cBlue {color: #33C6FF;}
.cPurple {color: #662847;}
.cRed {color: #ef0000;}
.cOrange {color: #FF9400;}
.dark_bg {background:  url(../img/dark_bg.png); z-index: 0; position: relative; border-top: 1px solid #222;}
.dark_bg:before {
content: "";
display: block;
position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -2;
border-top: 1px solid #999;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

}

.first {clear: both !important; margin-left: 0px !important;}
.debug {border: 1px solid #900;}

/*.content .row {-moz-column-count: 3; -webkit-column-count: 3; -webkit-moz-column-gap: 20px; column-gap: 20px;}*/
.content p {margin-bottom: 1em; color: #333; font: 1.2em/1.6em sans-serif;}
.content h1 {margin-bottom: 1em; color: #1D7389; font-weight: normal; text-transform: uppercase;}
.content h2 {padding-left: 10px;}
.content a {color: #1D7389; font-size: 1.2em;}
.content a:hover {color: #900;}

.whtBtn {display: block; padding: 0.2em 1em 0; font-size: 1.2em; line-height: 1.8em; background-color: #fff; color: #900; text-transform: uppercase;}
.whtBtn:hover {background-color: #000; color: #fff;}

h2.username {float: left;}
a.logout {border: 1px solid #ccc; border-bottom: none; padding: 5px 10px; margin: 10px 10px 0 0;  background-color: #ccc;}
a.logout:hover {border: 1px solid #ccc; border-bottom: none; color: #fff; background-color: #900;}

label {clear: both; display: block;}
/*label.error {background-color: #ffc; color: #B60910; border: 1px solid #B60910; padding: 5px; margin-top: 10px; position: relative;}*/
label.error span {height: 7px; width: 14px; display: block; position: absolute; top: -7px; left: 15px; background: url("../img/triang.png") 0 -14px no-repeat;}

td {padding: 0.3em 0.5em; font-size: 1.2em;}
tr:nth-child(even) {background: #eee;}

/* Structure
-----------------------------------------------------------------------------*/
html {height: 100%;}
body {height: 100%; background: #f9f9f9 url(../img/noise.png);}
#wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -150px; }
#wrapper:after {content:""; display: block; height: 150px; clear: both}
#header {position: relative; padding-top: 4em;}
#main {min-height: 300px;}
#bigfoot {width: 100%; background: #409EB8 url(../img/noise.png); border-top: 1px solid #2C849B;}
#bigfoot .container {border-top: 1px solid #62BAD2; padding: 2em; }
#footer {padding: 0.2em 0; height: 20px; clear: both; background: #409EB8 url(../img/noise.png); border-top: 1px solid #2C849B; position: relative; display: block; }
/*#footer:before {border-top: 1px solid #62BAD2; content: "";display: block;position: absolute; top: 0; bottom: 0; left: 0; right: 0; }*/

/* Dr Bar
-----------------------------------------------------------------------------*/
#topBar {background: #409EB8 url(../img/noise.png) repeat; border-top: 1px solid #2C849B; border-bottom: 1px solid #2C849B; text-align: left;  display: block; position: absolute; top: 0; width: 100%; left: 0; z-index: 1000;}
#topBar.container {padding: 0;}
#topBar .ins {padding: 0.5em 24px 0.5em 0; border: 1px solid #62BAD2; border-left: none; border-right: none;}
#topBar .row, #patientBar .row {overflow: visible;}
#topBar a {}
#topBar .users {margin: 0 10px 0 0; font-size: 1em; padding: 0.4em 0.2em 0.2em 0.2em; border: none;}
#topBar a#email_link {width: 40px; height: 22px; margin: 0 15px; background: transparent url(../img/topBar_sprite.png) -205px -4 no-repeat; text-indent: -9999px; }
#topBar a#email_link:hover {background-position: -244px 0px;}
#topBar a.flink, #patientBar a.flink {display: block; font-weight: normal; padding: 0.2em 1em 0; margin: 0.5em; line-height: 1.8em; background-color: #fff; color: #900; text-transform: uppercase;}

.wht {display: block; padding: 0.2em 1em 0; font-size: 1.2em; line-height: 1.8em; background-color: #fff; border: 1px solid #fff; color: #900; text-transform: uppercase;}
.wht span {background: #900; color: #fff; margin: -0.1em -0.9em 0 1em; display: block; font-weight: bold; float: right; padding: 0px 0.5em; text-transform: lowercase; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.wht a:hover {color: #000; }
.wht a:hover span {background: #000; color: #fff; cursor: pointer;}

#topBar .invite_patient_box_holder {float: right; position: relative; bottom: -0.2em; padding: 0.3em 0.7em 0.7em; margin: -0.5em 0; }
#topBar .invite_patient_box_holder.active	{background: transparent url(../img/topBar_bg.png) bottom left repeat-x; }

#topBar .invite_patient_box {display: none; position: absolute; top: 3.6em; right: 0; background: #F3D673; padding: 5px; }
#topBar .invite_patient_box form input.btn {position: absolute; top: 0.5em; right: 0.5em;}

#topBar .invite_patient_box form .textInput {width: 380px; margin: 0; float: left;  }
#topBar .invite_patient_box form .textInput input {font-size: 1.3em; padding: 0.2em; height: auto; margin: 2px; width: 360px; color: #666; }

#topBar #msg {float: left; color: #900; font-size: 14px; line-height: 20px; }
#topBar .errorMsg {font-size: 1.3em; line-height: 1.8em; margin-top: 0.2em; padding: 0 1em; float: left; }
.jsError {display: none;}
/*.no-js .jsError {display: block;}
.no-js #topBar .invite_patient_box_holder {display: none;}
.no-js #topBar #pickUser {display: none;}*/


/* Enlarge font
-----------------------------------------------------------------------------*/
.enlargeFont {background: transparent url(../img/enlarge_font.png) 0px -10px no-repeat; text-indent: -9999px; display: block; height: 25px; width: 40px; position: relative; }
.enlargeFont span {background: transparent url(../img/enlarge_font.png) 0px 0px no-repeat; display: block; height: 5px; width: 40px; position: absolute; bottom: 0; left: 0;}
body.fsize1 .enlargeFont span {background-position: 10px 0px;}
body.fsize1 {font-size: 75%;}
body.fsize2 .enlargeFont span {background-position: 24px 0px;}
body.fsize2 {font-size: 90%;}

/* Header
-----------------------------------------------------------------------------*/
.logo {font-size: 12px; text-indent: -9999px; width: 220px; height: 25px; margin: 2em; background: transparent url(../img/logo.png) 0px 0px  no-repeat; float: left;}
#header .row {position: relative;}

#headSearch .hsInputBg {width: 234px; height: 24px; float: left; margin: 8px 0px 0px 18px; background: url(images/searchInputBg.gif) top left no-repeat;}
#headSearch .hsInput {margin: 1px 0 0 10px; background-color: #E5F4FF; border: 1px solid #E5F4FF;}
#headSearch a.searchBtn {width: 80px; height: 24px; float: left; margin-top: 8px; background: url(images/searchBtn.gif) top left no-repeat;}
#headSearch a.searchBtn:hover {background: url(images/searchBtn.gif) bottom left no-repeat;}
/* Main
-----------------------------------------------------------------------------*/
#main.container {  }
#main .row_wrapper { background: #fff; margin-bottom: 4em; -moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;box-shadow: 0px 0px 5px #999;}
#main .row_wrapper .row {padding: 2em 0;}
#main .row_wrapper .row.padTop {padding: 2em 0 0 0;}
#main .row_wrapper .row.padBottom {padding: 0 0 2em 0;}

#menuTabs { position: absolute; bottom: 0; right: 1em;}
#menuTabs li {float: left; margin-left: 0.2em; font-size: 1.4em;}
#menuTabs li a {padding: 0.6em 1.2em; background: url(../img/dark_bg.png); color: #fff; display: block;}
#menuTabs li a:hover {background: #409EB8 url(../img/noise.png); color: #fff;  }
#menuTabs li a.active {background: #fff; color: #409EB8; -moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;box-shadow: 0px 0px 5px #999;}

/* Home
-----------------------------------------------------------------------------*/
#main.home .row {padding: 2em 0;}

.banner {
position: relative;
overflow: hidden;
border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
background: #dbf5ff;
background: -moz-linear-gradient(top, #dbf5ff 0%, #78bfd3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbf5ff), color-stop(100%,#78bfd3));
background: -webkit-linear-gradient(top, #dbf5ff 0%,#78bfd3 100%);
background: -o-linear-gradient(top, #dbf5ff 0%,#78bfd3 100%);
background: -ms-linear-gradient(top, #dbf5ff 0%,#78bfd3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf5ff', endColorstr='#78bfd3',GradientType=0 );
background: linear-gradient(top, #dbf5ff 0%,#78bfd3 100%);
}
#main .banner .signUp {
-webkit-box-shadow: 0px 0px 60px 0px #fff;;
-moz-box-shadow: 0px 0px 60px 0px #fff;
box-shadow: 0px 0px 40px 0px #fff;
margin-bottom: 2em;
}
.banner .bannerImg {background: url(../img/home_banner.png) 50% 20% no-repeat; background-size: 100%; width: 30%; height: 26em; }
.banner h1 {font: normal 4em/1em serif; padding-top: 0.5em;  }
.banner h2 {font: normal  1.6em/1.6em serif;  padding: 1em 0; max-width: 25em; text-transform: none; }
/* Footer
-----------------------------------------------------------------------------*/
#footer .credit {font-size: 1em; color: #97DAE8; text-align: center;}
#bigfoot nav ul { border-left: 1px solid #2C849B; }
#bigfoot nav ul li {display: block; padding: 0 2em; border-left: 1px solid #62BAD2;  }
#bigfoot nav h3 {color: #97DAE8; font-weight: normal; padding-bottom: 1em; font-size: 1.8em; text-shadow: -1px -1px rgba(0, 0, 0, 0.3);}
#bigfoot nav a {font-size: 1.4em; color: #f5f5f5; }

/* Practice
-----------------------------------------------------------------------------*/
.advice {margin-bottom: 20px; font-size: 1.4em; color: #111; background: #D8D8D2; position: relative; }
.advice p {padding: 1em 1.5em;}
.advice span.spike {height: 1.7em; display: block; width: 1em; position: absolute; bottom: -1em; left: 0; background: url(../img/spikes.png) bottom left no-repeat;}
.advice.important {background: #900; color: #fff; }
.advice.important span.spike {background-position:  -80px bottom; }
.advice.notice {background: #fe6; color: #111;}
.advice.notice span.spike {background-position:  -40px bottom; }

/* Forms
-----------------------------------------------------------------------------*/
.form label {display: block; float: left; clear: both; width: 150px; text-align: right; margin: 15px;}
.form label.long {width: 400px;}
.form input[type="text"] {display: block; float: left;  margin: 10px; padding: 5px;}
.form textarea {display: block; float: left;  margin: 10px; padding: 5px; width: 355px;}

.form select {margin: 15px;}
.form p.note {float: left; margin: 11px;}

.form {font-size: 1.4em;}
.form ul li {clear: both; border: 1px solid #999; margin-top: -1px;}
.form ul li h3 {border: 1px solid #999; background-color: #eee; font-size: 1.4em; padding: 5px 15px; margin: -1px;}
.form ul li.data {clear: both; width: auto;}
.form ul li.data select {float: left;}

.graphContainer tspan::-moz-selection{ background: transparent; color: inherit; text-shadow: none; }
.graphContainer tspan::selection { background:transparent; color:inherit; text-shadow: none; }

.graphContainer.small {height: 300px;}

.monthPick table.ui-datepicker-calendar {display: none;} 
.monthPick.ui-datepicker .ui-datepicker-buttonpane {margin: 0;}

#main.bodySize .row_wrapper .row {}

/* Registration page
-----------------------------------------------------------------------------*/
#main.loginForm label.remember {padding-top: 0;}

/* Registration page
-----------------------------------------------------------------------------*/
.measurement .imperial {display: none;}
.container.profile h3 {clear: both; padding-top: 1em;}
/* Event page
-----------------------------------------------------------------------------*/
.module {border: 1px solid #ccc; margin-bottom: 15px; padding: 20px; clear: both; position: relative; top: -1px;}

/* Contains the entire tabbed section */
.tabbed {clear: both; position: relative; overflow: hidden; width: 960px; height: 450px; float: right;	}

/* List of tabs */
.tabbed ul.tabs {display: block;}
.tabbed ul.tabs li {list-style: none; float: left;}
.tabbed ul.tabs li a {display: block; margin: 0 2px 0 0; padding: 10px 12px; font-size: 1.2em; color: #999; }
.tabbed ul.tabs li a:hover {color: #900;	}

/* The current selected tab */
.tabbed ul.tabs li a.tab-current {color: black;	}

/* The content shown when a tab is selected */
.tabbed div {}

/* Set the CSS to make sure the other tabs' content isn't shown other than the first */
.tabbed div.t1, .tabbed div.t2, .tabbed div.t3, .tabbed div.t4, .tabbed div.t5 {width:960px; position: absolute; right: -960px; top: 30px;	}
.tabbed div.t1 {right: 0px;}
/* Content for inside your tabs' divs */
.tabbed div ul {
}
.tabbed div p {
}
.tabbed div div {
}

.inputfields { }
.inputfields label span {color: #7BABBF;}
.inputfields input {width: 100%;}
.inputfields .submitBtn {float: right; width:auto;}

/* Register
-----------------------------------------------------------------------------*/
#main.register h3 {margin-bottom: 1em;}

/* Patient-Profile
-----------------------------------------------------------------------------*/
.progressBar {background: #ddd; overflow: hidden; border: 2px solid #fff; clear: both;}
.progressBar span {display: block; text-align: right; font-weight: bold; font-size: 1.2em; background-color: #480; color: #fff; padding: 0.1em 0.7em;}
.patient-profile p {clear: both;}
.patient-profile p span {display: block; float: left; color: #666; width: 100px; clear: left;}


/* multilevel menu
----------------------------------------------------------------------------*/
/* LEVEL ONE */
ul.dropdown                         { position: relative; z-index: 1000; float: left; margin: -5px 0px; font-size: 1.2em;  }
ul.dropdown>li>ul                    {position: absolute; top: 100%;}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background-color: #ccc; }
ul.dropdown>li:first-child			{background-color: transparent;}
ul.dropdown>li:first-child:hover	{background: transparent url(../img/topBar_bg.png) bottom left repeat-x; }

ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 8px 16px; border-right: 1px solid #333;
                                      color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 	LEVEL TWO */
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: -3px; left: 0; border: 3px solid #F3D673;}
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000;
                         border-bottom: 1px solid #ccc; float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; display: inline-block; }

/* LEVEL THREE */
ul.dropdown ul ul 					{ left: 100%; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

ul.dropdown.patient ul {border: 1px solid #900;}
ul.dropdown.patient                 { position: absolute; z-index: 1000; left: 407px; bottom: 36px; }
ul.dropdown.patient > li  {background: none;}
ul.dropdown.patient li a.flink            { padding: 7px 15px; background-color: #bbb; color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; }
ul.dropdown.patient > li a.flink:hover, ul.dropdown.patient > li.hover a.flink  {background-color: #900; color: #fff;}





/*
    // ========================================== \\
   ||                                              ||
   ||      Overwrites From boilerplate !           ||
   ||                                              ||
    \\ ========================================== //
*/



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


body.fsize1 .inputfields .btn,
body.fsize1 .inputfields input.btn,
body.fsize1 .inputfields button.btn,
body.fsize2 .inputfields .btn,
body.fsize2 .inputfields input.btn,
body.fsize2 .inputfields button.btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}



@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

    body {
        /*	font-size: 0.8em;
	line-height: 1.5em;*/
    }

    .inputfields .btn, .inputfields input.btn, .inputfields button.btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

}

@media handheld, only screen and (max-width: 900px) {
    .logo {margin-bottom: 4em;}
}
/* Mobile */

@media handheld, only screen and (max-width: 767px) {

    body {
        -webkit-text-size-adjust: none;
    }

    .row, body, .container {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container {
        width: 93.75%;
        padding-left: 3.125%;
        padding-right: 3.125%;
    }

    #patientBar, #drBar {position: absolute; top: 0; left:0;}

    #footer {position: relative; }

    .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        /*	padding-left: 20px;
	padding-right: 20px;*/
    }
    .banner .bannerImg {display: none;}

    .logo {margin-bottom: 0;}

    #menuTabs {position: relative; clear: both; overflow: hidden; padding: 0 1em;}
    
    #menuTabs li a {margin: 0.5em 0.5em 0.5em 0; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}

    .inputfields .btn {
        width: 100%;
    }

    .advice {margin-top: 1em;}

}


@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
        -ms-filter: none !important; }
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}