body {font: 62.5%/2em  "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 {font-size: 2.2em;}
h2 {font-size: 2.0em; text-transform: capitalize; font-variant: small-caps;}
h2 span {font-size: 2.0em; text-transform: lowercase; font-variant: normal; }
h3 {font-size: 1.8em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.4em;}
p {font-size: 1.2em;}
table {clear: both;}

a {color: #900; text-decoration :none;}

.relative {position: relative;}
.absolute {position: absolute;}
.clear {clear: both;}
.clearL {clear: left;}
.clearR {clear: right;}
.noclear {clear: none;}
.errorMsg {background-color: red; font-weight: bold; padding: 0.3em 0.5em; color: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }


.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
*hrml .clearfix {zoom: 1; }
.hidden {display: none;}


/* Forms
-----------------------------------------------------------------------------*/
form {font-size: 1.4em;}
form label {display: block; padding-left: 1em; padding-top: 1em; clear: both; }
form .textInput, form .textArea {width: 100%; clear: left; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; /*border: 2px solid #fff;*/ background-color: #fff; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
form input.error, form textarea.error {float: none; background-color: #fff;}
form label.error {background-color: red; float: right; margin-top: 0.3em; font-weight: bold; padding: 0.3em 0.5em; color: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
form .textInput span, form .textArea span {display: block; border: 1px solid #D8D4CA; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px}
form .textInput input {display: block; border: 1px solid #fff; height: 30px; margin: 1%; width: 98%;font-size: 1.4em; color:#321F12; }
form .textArea textarea {width: 98%; margin: 1%;  border: 1px solid #fff;font-size: 1.4em; color:#321F12; font-family: inherit; max-width: 97%; }
form select {padding: 10px 20px 10px 10px; margin-bottom: 5px;}
form span.radioLabel {margin: 0 1em;}
form .errorMsg {float: right; margin-top: 0.3em;  }
form .textInput.short {width: 20%; float: left; clear: none;}
form .textInput.short input {width: 90%;}
form .shortLabel {float: left; font-size: 1.4em; padding: 0.5em 1em 1.5em 0.3em; clear: none; }

/* all site
-----------------------------------------------------------------------------*/
.totalW {width: 954px;}
.halfW {width: 470px;}
.thirdW {width: 308px;}
.twothirdW {width: 631px;}

.left {float: left;}
.right {float: right;}

.bgGray {background-color: #CDCECD;}
.curves10, .corner10 {border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
.curves5 {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.br {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}


.curvesTop10 {border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px;}
.curvesBottom5 {border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px;}


.padding10 {padding: 10px;}
.padding15 {padding: 15px;}

.margin30 {margin: 30px;}
.margin15 {margin: 15px;}
.marginL15 {margin-left: 15px;}
.marginR15 {margin-right: 15px;}
.marginT15 {margin-top: 15px;}
.marginB15 {margin-bottom: 15px;}

.m1 {margin: 1em;}
.mL1 {margin-left: 1em;}
.mR1 {margin-right: 1em;}
.mT1 {margin-top: 1em;}
.mB1 {margin-bottom: 1em;}


.appMsg {background: #D8D8D2; color: #333; border: 1px solid #c8c8c2; float: left; font-size: 1.4em; margin: 0.3em 0; padding: 0.3em 0.5em; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.appMsg.success {background: #DBE0C5; color: #5A7F4B; border: 1px solid #5A7F4B; }
.appMsg.error {background: red; color: #fff; border: 1px solid red; }


.ds5 {-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;box-shadow: 0px 0px 5px #999;}
.bGray {border:1px solid #999999;}

.cWhite {color: #fff;}
.cBlue {color: #33C6FF;}
.cPurple {color: #662847;}
.cRed {color: #ef0000;}
.cOrange {color: #FF9400;}

.rbg {background-color: red !important;}


.first {clear: both !important; margin-left: 0px !important;}
.debug {border: 1px solid red;}


.smallPopUp {padding: 15px;}
.smallPopUp h1 {font-size: 16px; font-weight: bold; color: #fff; background-color: #333; padding: 5px 15px;}

.smallPopUp form input[type="text"]  {display: block; padding: 5px; margin: 0 15px; float: none; text-align: left;}
.smallPopUp form textarea {display: block; padding: 5px; margin: 0 15px;float: none;text-align: left;}
.smallPopUp form select {display: block; padding: 5px; margin: 0 15px;float: none;text-align: left;}
.smallPopUp form label {display: block; clear: both; margin: 15px 15px 0 15px;float: none;text-align: left;}
.smallPopUp form .btn_box {clear: both; width: 420px;}
.smallPopUp form .btn {float: right; margin: 15px;}

.content h2 {padding-left: 10px;}
.whtBtn {display: block; padding: 1px 4px; background-color: #eee; border: 1px solid #fff; color: red; text-transform: uppercase;}
.whtBtn:hover {background-color: #000; color: #fff;}

.toggle_btn.close {background-color: red; color: #fff; padding: 3px 7px; cursor: pointer; font-size: 10px; position: absolute; top: -5px; right: -5px; }


#send_mail_to {display: block; padding: 20px;}
#send_mail_to #subject {width: 100%;}
#send_mail_to #email_body {width: 100%; height: 150px;}

table.styled {width: 100%;border-collapse: collapse;}
table.styled th {padding: 5px 10px; background-color: #666; color: #fff;}
table.styled td {padding: 5px 10px;  border: 1px solid #ddd; }


.btn {
    width: auto;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 0.8em/100% Arial, Helvetica, sans-serif;
    padding: .4em 1.5em .42em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
input.btn, button.btn {
    width: auto;
    padding: .2em 1.2em .3em;
}
.btn:hover {
    text-decoration: none;

    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.btn:active {
    position: relative;
    top: 1px;

    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

.btn.big {
    font-size: 1em;
    padding: .5em 2em .55em;
}
.btn.huge {
    font-size: 1.8em;
    padding: 1em 2em;
}
input.btn.big, button.btn.big {
    width: auto;
    padding: .5em 1.5em .5em;
}
input.btn.small, button.btn.small {
    font-size: 0.6em;
    padding: .2em 1em .275em;
}

/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* red */
.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top,  #c9151b,  #a11115);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* green */
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
