@import url("reset.css"); 
@import url("style_common.css"); 
/* Structure
-----------------------------------------------------------------------------*/
#wrapper {width: 100%; margin: 0px auto; font-size: 1.2em;  }
#header {height: 70px; position: relative; border-bottom: 1px solid #900; padding: 0 20px; }
#main .inner { }
#main { padding: 20px; min-height: 400px; background-color: #fff;}
#footer {height: 130px; padding: 20px; position: relative; color: #900; }
.adminLogo {padding: 7px 0 0 0px; color: #333; text-transform: uppercase; font-size: 1.2em; float: left; }

#adminMenu {position: absolute; bottom: -1px; right: 20px; font-size: 1.2em; }
#adminMenu li {float: left; margin-left: 2px; }
#adminMenu li a {padding: 7px 20px; background-color: #333; color: #fff; display: block; border: 1px solid #333; border-bottom: 1px solid #900;  font-weight: normal;}
#adminMenu li a.active {background-color: #fff; color: #900; border: 1px solid #900; border-bottom: 1px solid #fff;}
#adminMenu li a:hover, #adminMenu li a.mainactive {background-color: #900; color: #fff; border: 1px solid #900; }

#errors {padding: 15px; background-color: #fff; color: #c00; font-size: 1.2em;}
#msg {padding: 15px; background-color: #fff; color: #666; font-size: 1.2em; overflow: hidden;}


ul.admin_submenu {display: block; background-color: #900; }
ul.admin_submenu li {display: block; float: left; }
ul.admin_submenu li a {color: #fff; padding: 1px 10px 3px; margin: 5px; font-size: 1.3em; display: block; }
ul.admin_submenu li a:hover {color: #ccc;}
ul.admin_submenu li a.active {background-color: #000; color: #fff;border: 1px solid #666;}

.editAdvice {border: 1px solid #900;}
.editAdvice td {background-color: #eee; padding: 5px;}
.editAdvice .firstRow td {padding-top: 10px;}
.editAdvice .secondRow td {padding-bottom: 10px; border-bottom: 1px solid #900;  }
.editAdvice input {vertical-align: top;}
.editAdvice label {display:block;}

/* Forms
-----------------------------------------------------------------------------*/
form {font-size: 1.2em;}
.btn.big {font-size: 1.2em;}

table.display tr td:last-child {width: 180px;}

ul.list {}
ul.list li {clear: both; }
ul.list li h3 {border: 1px solid #999; background-color: #eee; font-size: 1.4em; padding: 5px 15px; margin: -1px; overflow: hidden;}
ul.list li.data {clear: both; width: auto;}
ul.list li.data select {float: left;}

/* Module Managment
-----------------------------------------------------------------------------*/
ul.moduleList li {width: 200px; float: left; clear: none; margin-right: 20px; padding-right: 20px;  border-right: 1px solid #CDCECD; }
ul.moduleList li input {float: right;}


/* Dr register
-----------------------------------------------------------------------------*/
.drRegistration ul {overflow: hidden; clear: both;}
.drRegistration ul li {width: 30%; float: left; margin-left: 3%;}
.drRegistration input.submit.btn {float: right;}
/* DrLinks
-----------------------------------------------------------------------------*/
.addLinkSubmit {margin: 15px; font-size: 1.1em;}
#addNewLink {clear:both; float:left; padding:20px; margin: 10px 0;}
.linkList {clear: both; margin: 15px 0;}
#links_admin { border-collapse: collapse; width: 100%; }
#links_admin .link { width: 400px; }
#links_admin .url { width: 600px; }
#links_admin .action { width: 170px; }


#links_admin td {border:1px solid #999; padding: 5px; vertical-align: middle; }

#links_admin .level1 td {background-color: #ddd;}
#links_admin h3 { float:left; margin-left: 15px; }
#links_admin .num {  font-size: 1.8em; float: left; width: 30px; text-align: center; background: #999; color: #fff; margin: -5px; padding: 5px 10px;}
#links_admin .link {font-size:10px; }
#links_admin .edit {font-size:10px; }

#links_admin .level2 h3 { font-size: 1.4em; }
#links_admin .level3 h3 { font-size: 1em; }

#links_admin .level2 .num { font-size: 1.4em; margin-left: 30px; width: 20px; }
#links_admin .level3 .num { font-size: 1em; margin-left: 60px; width: 10px; }

.linkFromURL {display: none;}
.linkFromFile {display: none;}

.AddCat .linkFromURL, .AddCat .linkFromFile {display: none;}
.AddFile .linkFromFile {display: block;}
.AddURL .linkFromURL {display: block;}


/* Custom file uploader
-----------------------------------------------------------------------------*/
fieldset { padding: .6em 0;border:0;border-top: 1px dotted #ddd; }
legend { font-size: 1.5em; font-weight: bold; color: #555; padding: .5em 1em .5em 0; background: #fff;  }
label { /*font-size: 1.4em;  margin: .5em 10px .5em 0;*/ display: block; clear:  both; }
input#upload { background: #aaa url(../img/bg-btn.png) bottom repeat-x; padding: .4em 1.2em;border: 1px solid #aaa; color: #222; font-size: 1.2em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer;  }
input#upload:hover { background: #eee; color: #111; border-color:#777; }


/*custom upload elements*/
.customfile-input { position: absolute; height: 100px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile { width: 400px; margin: 10px; float: left; background: #666; cursor: pointer; overflow: hidden; padding: 2px; border: 1px solid #444; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;  position: relative; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 1px 1px 1px 5px; font-size: 1.2em; color: #fff; font-style: italic;  }
.customfile-feedback-populated { color: #fff; font-style: normal; font-weight: bold; padding-left: 20px; background: url(../img/icon-generic.gif) left 4px no-repeat; }
.customfile-button { border: 1px solid #999; background: #333 url(../img/bg-submit.gif) bottom repeat-x;  color: #fff; font-weight: bold; float: right; padding: 0em 1em;  text-align: center; text-decoration: none;  font-size: 1.2em; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { color:#111; background: #aaa url(../img/bg-btn.png) bottom repeat-x; border-color:#aaa;  padding: 0em 1em;  }
.customfile-focus .customfile-button { outline: 1px dotted #ccc;  }

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp { background-image: url(../img/icon-image.gif);}
.customfile-ext-mp3, .customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-wav, .customfile-ext-m4v { background-image: url(../img/icon-media.gif);}
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit { background-image: url(../img/icon-zip.gif);}

/*patients*/
#invitePatientsSubmit {display: none;}

